<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>
    
    <ul id="message">
        {% for msg in messages %}
            <li>{{msg.message}}</li>
        {% endfor %}
    </ul>
    <input type="text" class="message-input">
    <button class="message-submit"> send</button>

    <script type="text/javascript">
        var socket = io.connect('http://127.0.0.1:5000');

        socket.on('connect', function () {
            //console.log('connected!');
            socket.emit('join', { room: 'A_Room' });
        });
        function setDate(time) {
            $('<div class="timestamp">' + time + '</div>').appendTo($('.message:last'));
        }
        function insertMessage() {
            //console.log('insertMessage');
            var msg = $('.message-input').val();
            if ($.trim(msg) == '') {
                return false;
            }
            //console.log('send Inqueiry');
            var obj = {
                msg: msg,
                room: 'A_Room'
            };
            socket.emit('sendInquiry', obj);
        }

        socket.on('getInquiry', function (msg) {
            //console.log(msg.msg);
            $('<div class="message new"><figure class="avatar"><img src="/static/mugshot/' + msg.PictureUrl + '" /></figure>' + msg.msg + '</div>').appendTo($('.mCSB_container')).addClass('new');
            setDate(msg.time);
            $('.message-input').val(null);
            updateScrollbar();
        });


        $('.message-submit').click(function () {
            insertMessage();
        });

        $(window).on('keydown', function (e) {
            if (e.which == 13) {
                insertMessage();
                return false;
            }
        });
       
    </script>
    
</body>
</html>