<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    </head>

  <body>
    <div class="chat">
	  <div class="chat-title">
		<h1>{{ current_user.id }}</h1>
		<figure class="avatar">
		  <img src="static/mugshot/{{ mug_shot_title }}" />
		</figure>
      </div>

        <div class="messages-content">
            {% for data in messages_list %}
                <div class="message new"><figure class="avatar"><img src="static/mugshot/{{ data.MugShot }}"   alt="{{ data.UserName }}" title="{{ data.UserName }}"></figure>{{ data.Messages }}<div class="timestamp">{{ data.CreateDate }}</div></div>
            {% endfor %}
        </div>
	
	  <div class="message-box">
		<textarea type="text" class="message-input" placeholder="Type message..."></textarea>
		<button type="submit" class="message-submit">Send</button>
	  </div>
	</div>
    <a href="/logout">logout</a>
   
	<script src='{{ url_for('static', filename='javascripts/jquery.min.js')}}'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js'></script>
	<script src="{{ url_for('static', filename='javascripts/index.js')}}"></script>
  </body>
</html>
