<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <button><a href="/logout">logout</a></button>
    <figure class="avatar">
        <img src="static/images/default.png" alt="some image">
    </figure>
    <div>

    </div>
    <div class="message-box">
        <textarea type="text" class="message-input" placeholder="Type ..."></textarea>
        <button type="submit" class="message-submit">send</button>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js'></script>
</body>
</html>