<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Join the chat</h2>
    <form action="/" method="POST">
          <label>Username</label>    
          <input type="text" name="username"><br>
          <label>Room</label>
          <input type="text" name="room" value="miCASA"><br>
          <input type="submit" value="Join">
    </form>
</body>
</html>