<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Validation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='../static/css/style.css')}}">
</head>
<body>
    <div class="wrapper">
        <h1>Email Validation</h1>
        <fieldset>
            <legend>Email:</legend>
            <form action="/validation" method="POST">
                <input type="text" name="email" >
                <input type="submit" name="button" value="Submit">
            </form>
        </fieldset>
         {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style= 'color:red;'>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>