<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% load static %}
    <link rel="stylesheet" href="{% static 'belt_app/css/info.css' %}" media="screen" title="no title" charset="utf-8">
    <title>Info</title>
</head>
<body>
    <div class="page">
        <div class="top">
            <p><a href="/friends">Home</a> <a href="/logout">Logout</a></p>
        </div>
        <div class="info">
            <h3>{{user.first_name}}'s Profile</h3>
            <h4>Name: {{user.first_name}} {{user.last_name}}</h4>
            <h4>Email: {{user.email}}</h4>

        </div>
    



    </div>
  
   
</body>
</html>