<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadom</title>
</head>
<body>
    <h1>Amadon Store!</h1>
    <form action="/process" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>Dojo T-shirt</td>
                <td>$19.99</td>
                <td><select name="Qtshirt">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select></td>
            </tr>
            
            <tr>
                <td>Dojo Sweater</td>
                <td>$29.99</td>
                <td>
                    <select name="Qsweater">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Dojo Cup</td>
                <td>$4.99</td>
                <td>
                    <select name="Qcup">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Algorithm Book</td>
                <td>$49.99</td>
                <td>
                    <select name="Qbook">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </td>
            </tr>
        </table><br>
        <input type="submit" value="BUY!">

    </form>
    
</body>
</html>