<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <h1>Ninja Gold</h1>
        <h3>Your Gold: <span>$</span><span>{{ session['yourGold'] }}</span></h3>
        <div class="location">
            <h3>Farm</h3>
            <p>(earn 10-20 gold)</p>
            <form action="/process_gold" method="post">
                <input type="hidden" name="location" value="farm">
                <input class="butn" type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="location">
            <h3>Cave</h3>
            <p>(earn 5-10 gold)</p>
            <form action="/process_gold" method="post">
                <input type="hidden" name="location" value="cave">
                <input class="butn" type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="location">
            <h3>House</h3>
            <p>(earn 2-5 gold)</p>
            <form action="/process_gold" method="post">
                <input type="hidden" name="location" value="house">
                <input class="butn" type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="location">
            <h3>Casino</h3>
            <p>(earn/takes 0-50 gold)</p>
            <form action="/process_gold" method="post">
                <input type="hidden" name="location" value="casino">
                <input class="butn" type="submit" value="Find Gold!">
            </form>
        </div>
        <h3>Activities</h3>
        <div id="activities">
            {% for bankstatus in session['activity'] %}
                {% if bankstatus.find('Lost')>=0 %}
                <p id = "loss">{{bankstatus}}</p>
                {% else %}
                <p id = "win">{{bankstatus}}</p>
                 {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>