<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" href="{% static 'bo_app/css/home.css' %}" media="screen" title="no title" charset="utf-8">
 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    
    <div class="page">
        <div class="top">
            <h1>Hello, {{ user.first_name }}</h1>
            <a href="/logout">Logout</a>
            <a href="/messages"><button>Messages</button></a>
        </div>

        <div class="main">
                <div class="left_side">
                <div class="profile">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </div>
            
                
                <div class="other_users">
                    <h4>Other Users</h4>
                    {% for user in users %}
                        {% for friend in notfriends %}
                            {% if friend == user.id %}
                              <p><a href="/profile/{{user.id}}">{{ user.first_name }} {{ user.last_name }}</a><a href="/add/{{user.id}}"><button>ADD</button></a> </p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div> 
            </div>
            
                
            
            <div class="middle">
                    <!-- post text area -->
                <h1><a href="/upload/{{user.id}}"><button>POST</button></a></h1>
            

                <!-- Posts -->
            
                <hr>

                {% for post in posts %}
                    {% for user in all_users %}
                    
                        {% if post.post_by_id == user.id %}
                            <hr>
                            
                            {{ post.content }}<br>
                            {{ post.created_at }}<br>
                            <p><a href="/profile/{{user.id}}">{{ user.first_name}}</a></p><br>
                            {% for comment in comments %}
                                {% if comment.comment_to_id == post.id %}
                                    <p> {{ comment.comment }}</p>
                                {% endif %}
                            {% endfor %}
                                <form action="/comment/{{post.id}}" method="POST">
                                {% csrf_token %}
                                <textarea name="comment_content" id="post_area" cols="80" rows="3"></textarea>
                                <input type="submit" value="Comment">
                            </form>
                            <hr>
                            
                        {% endif %}
                    {% endfor %}  
                {% endfor %}
            </div>
            <div class="right_side">
                {% for user in users %}
                    {% for friend in friends %}
                        {% if friend.friends_with_id == user.id %}
                            <p><a href="/profile/{{user.id}}">{{ user.first_name }}</a></p>
                        {% endif %}
                    {% endfor %}                
                {% endfor %}
            </div>
            



        </div>  
    </div>
        
</body>

</html>