<!DOCTYPE html>
<html>
<head>
	<title>Signal</title>
</head>
<body>

<h1>Signal to Noise ratio, 0:1</h1>
<form action="/register" method="post">
	{% csrf_token %}
	First name:<input type="text" name="first"><br>
	Last name:<input type="text" name="last"><br>
	Email :<input type="text" name="email"><br>
	Username :<input type="text" name="username"><br>
	Date of Birth:<input type="text" name="dob"><br>
	Password:<input type="text" name="password"><br>
	C password:<input type="text" name="confirn_password"><br>
	<input type="submit" name="Register">
</form>
<form action="/login" method="post">
	{% csrf_token %}
	Email :<input type="text" name="first"><br>
	Password:<input type="text" name="first"><br>
	<input type="submit" name="Login">
</form>








<!-- 
<table border=1>
	<tr>
		<th>Sent By</th>
		<th>Received By</th>
		<th>Content</th>
		<th>Sent on</th>
	</tr>
	{% for message in messages %}
		<tr>
			<td>{{ message.sent_by.username }}</td>
			<td>{{ message.received_by.username }}</td>
			<td>{{ message.content }}</td>
			<td>{{ message.created_at|date:"M d, Y H:m" }}</td>
		</tr>
	{% endfor %}
</table> -->

</body>
</html>