<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Modernize</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    </head>
    <body>
        <h1>hellow World</h1>
        <div class="page">
            <div class="top">
                <img src="images/logo.png" alt="Logo Image">
                <h3>Call Us : (66)8 234 678</h3>
            </div>
            <div class="dock_and_img">
                <div class="dock">
                    <p class="dock_buttoms"><span>Home</span></p>
                    <div class="line_between"></div>
                    <p class="dock_buttoms">Blog</p>
                    <div class="line_between"></div>
                    <p class="dock_buttoms">Porfolio</p>
                    <div class="line_between"></div>
                    <p class="dock_buttoms">Shorcodes</p>
                    <div class="line_between"></div>
                    <p class="dock_buttoms">Features</p>
                    <div class="line_between"></div>
                    <p class="dock_buttoms">Contact</p>
                    <div class="line_between_last"></div>
                </div>
                <img src="images/main_pic.png" alt="Main Image">
            </div>
            <div class="top_middle">
                
                <div class="subs">
                    <img src="images/content_icon1.png" alt="First Porfolio Image">
                    <div class="subs_text">
                        <h3 class="sub_orange_text">Ridiculus Ornare</h3>
                        <p>Aenean eu loe quam. plelle tesque ormnfj liviand que vene venenatis</p>
                    </div>
                </div>
                <div class="subs">
                    <img src="images/content_icon2.png" alt="First Porfolio Image">
                    <div class="subs_text">
                        <h3 class="sub_orange_text">Ipsum Purus</h3>
                        <p>Aenean eu loe quam. plelle tesque ormnfj liviand que vene venenatis</p>
                    </div>
                </div>
                <div class="subs">
                    <img src="images/content_icon3.png" alt="First Porfolio Image">
                    <div class="subs_text">
                        <h3 class="sub_orange_text">Tellus Quam</h3>
                        <p>Aenean eu loe quam. plelle tesque ormnfj liviand que vene venenatis</p>
                    </div>
                </div>
                <div class="subs">
                        <img src="images/content_icon4.png" alt="First Porfolio Image">
                        <div class="subs_text">
                            <h3 class="sub_orange_text">Sem Egestas</h3>
                            <p>Aenean eu loe quam. plelle tesque ormnfj liviand que vene venenatin</p>
                        </div>
                </div> 
            </div>  
            <div class="bottom_middle">
                <div class="bottom_middle_text">
                <h3>Bibendum Fusce Vehicula Ullacoper Fermentum</h3>
                <p>Praeset common curcus magma, vel scelerisque consextueter at. aenean lacinia bibendum null sed cansetrtur fudcr dapidibus, tells ac curess commdo, tator amris.</p>
                </div>
                <button class="buy_button" type="button">Buy Now</button>
            </div> 
            <div class="bottom">
                <div class="bottom_tittle">
                    <h3>Portfolio</h3>
                    <p><i>View All Projects -></i></p>

                </div>
                    <div class="subs_bottom">
                        <img src="images/portfolio1.png" alt="First Porfolio Image">
                        <div class="subs_text_b">
                            <h3 class="sub_orange_text_b">Built-in Shorcode</h3>
                            <p>Aenean eu loe quam. plelle tesque ormnfj liviand que vene venenatis vestitutubuliun. You can easily use shortcuts via icons.</p>
                        </div>
                    </div>
                    <div class="subs_bottom">
                        <img src="images/portfolio2.png" alt="First Porfolio Image">
                        <div class="subs_text_b">
                            <h3 class="sub_orange_text_b">New Page Builder</h3>
                            <p>Aenean eu loe quam. plelle tesque ormnfj liviand que vene venenatis vestitutubuliun. You can easily use shortcuts via icons.</p>
                        </div>
                    </div>
                    <div class="subs_bottom">
                        <img src="images/portfolio3.png" alt="First Porfolio Image">
                        <div class="subs_text_b">
                            <h3 class="sub_orange_text_b">Access Element Color</h3>
                            <p>Aenean eu loe quam. plelle tesque ormnfj liviand que vene venenatis vestitutubuliun. You can easily use shortcuts via icons.</p>
                        </div>
                    </div>
                    <div class="subs_bottom">
                        <img src="images/portfolio4.png" alt="First Porfolio Image">
                        <div class="subs_text_b">
                            <h3 class="sub_orange_text_b">3 Custom Post Types</h3>
                            <p>Aenean eu loe quam. plelle tesque ormnfj liviand que vene venenatis vestitutubuliun. You can easily use shortcuts via icons.</p>
                        </div>
                    </div> 
                    <p class="small_text">Back To Top</p>
                </div>
        </div>
    </body>
</html>