<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info</title>
</head>
<body>
    <h1>User {{ users.id }}</h1>
    <P>Full Name: {{users.name}}</P>
    <P>Email: {{users.email}}</P>
    <P>Created at: {{users.created_at}}</P>
    <a href="/edit/{{users.id}}">Edit</a>  <a href="/delete">Delete</a>
    <a href="/">Back</a>

</body>
</html>