<!DOCTYPE html>
<html>
<head>
	<title>Signal App</title>
</head>
<body>

<h1>Home</h1>

<a href="/logout">Logout</a>

{{ user.first_name }}{{user.id}}
{% for user in users %}

	{% for friend in friends %}
			
		{% if friend.friend_with_id == user.id%}
			<p><a href="/delete/{{ user.id }}"><button>x</button></a>{{user.first_name}}<a href="/message/{{ user.id }}"><button>Send Message</button></a></p>
		{% endif %}

	{% endfor %}

{% endfor %}




{% for user in users %}

	{% for friend in notfriends %}
			
		{% if friend == user.id%}
			<p>{{user.first_name}}<a href="/add/{{ user.id }}"><button>ADD</button></a></p>
		{% endif %}

	{% endfor %}

{% endfor %}

<!-- {{notfriends}} -->


<hr>

<table border=1>
	<tr>
		<th>Name</th>
		<th>Send Message?</th>
	</tr>
	{% for user in users %}
		<tr>
			<td>{{ user.first_name }} {{ user.last_name }}</td>
			<td><a href="/message/{{ user.id }}"><button>Send Message</button></a></td>
		</tr>
	{% endfor %}
</table>

<hr>


{% if your_messages|length == 0 %}
	<p>You have no new messages</p>
{% else %}
	<p>You have {{ your_messages|length }} new message(s)</p>
	<a href="/view_messages"><button>View Messages</button></a>
{% endif %}


</body>
</html>