<!DOCTYPE html>
<html>
<head>
	<title>Signal App</title>
</head>
<body>

<h1>Your new messages</h1>

<h3 id="time"></h3>

<hr>
{% for messages in your_messages %}
<button>
	<a href="/messages/messages.sent_by.id"> {{ messages.sent_by.username }}</a>
</button>

<p>
	<pre>{{ messages.content }}</pre>
</p>
<hr> {% endfor %}

{% for message in your_messages %}
	<p><strong>{{ message.sent_by.username }} says:</strong> ({{ message.created_at }})</p>
	<p><pre>{{ message.content }}</pre></p>
	<hr>
{% endfor %}



</body>
</html>