<!DOCTYPE html>
<html>
<head>
	<title>Signal App</title>
</head>
<body>

<h1>Your new messages</h1>

<h3 id="time"></h3>

<hr>

{% for message in your_messages %}
	<p><strong>{{ message.sent_by.username }} says:</strong> ({{ message.created_at }})</p>
	<p><pre>{{ message.content }}</pre></p>
	<hr>
{% endfor %}

<script type="text/javascript">
	var time = 5;
	document.getElementById("time").innerHTML = `${time} seconds remaining`;

	setInterval(countdown, 1000);

	function countdown(){
		time--;
		document.getElementById("time").innerHTML = `${time} seconds remaining`;
		if(time == 0){
			window.location = "/home";
		}
	}
</script>

</body>
</html>