<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% load static %}
    <link rel="stylesheet" href="{% static 'belt_app/css/addbook.css' %}" media="screen" title="no title" charset="utf-8">
    <title>Add Book and Review</title>
</head>
<body>
    <div class="page2">
        <div class="top_right">
            <a href="/home">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <h2>Add a new Book Title and a Review:</h2>
        <form action="/add" method="POST">
             {% csrf_token %}
            <h4>Book Title: <input type="text" name="title"></h4>
            <h4>Author:</h4>
            <p>Choose from the list <select name="list_author">
                <option value="someguy">Someguy</option>
                <option value="someguy">Some other guy</option>
            </select></p>
            <p>Or add a new author: <input type="text" name="title"></p>
            <textarea name="review" id="review" cols="60" rows="5"></textarea><br>
            <h4>Rating:</h4>
            <select name="rating">
                <option value="1 Star">1 Star</option>
                <option value="2 Star">2 Stars</option>
                <option value="3 Star">3 Stars</option>
                <option value="4 Star">4 Stars</option>
                <option value="5 Star">5 Stars</option>
            </select><br>
            <input type="submit" value="Add Book and Review">
        </form>
    </div>
</body>
</html>