<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>create user</h2>
    <form action="/create" method="POST" id="create_user_ajax_form">
         {% csrf_token %}
        <label> Email: </label>
        <input type="email" name="email"><br>
        <label> First Name: </label>        
        <input type="text" name="first_name"><br>
        <label> Last Name: </label>        
        <input type="text" name="last_name"><br>
        <input type="submit" value="create user">
    </form>
    <div id="message"></div>
    <hr>
    <form action='/search' method='Post'>
        {% csrf_token %}
        <input type="text" name='search' placeholder="Search" id='search'> 
         From:
        <input type="date" name='from' id='from'>
         To:
        <input type="date" name='to' id='to'>
    </form>

    <div id="leads">
        <p>
            {% for page in pages %}
            <a href='/search/{{page}}' class='not_link' id='{{ page }}'>{{ page }}</a>
            {% endfor %}
        </p>
        <table>
            <tr>
                <th>leads_id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Registered Datetime</th>
                <th>Email</th>
            </tr>
            {% for user in  users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.created_at}}</td>
                <td>{{user.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>
        $('#search').keyup(function () {
            $.ajax({
                url: '/search/0',
                method: 'post',
                data: $(this).parent().serialize(),
                success: function (serverResponse) {
                    console.log(serverResponse)
                    $('#leads').html(serverResponse)
                }
            })
        })
        $('#create_user_ajax_form').submit(function (e) {
            e.preventDefault()
            $.ajax({
                url: $(this).attr('action'), // or '/create' 
                method: 'post',
                data: $(this).serialize(),
                success: function (serverResponse) {
                    $('#message').html(serverResponse)
                }
            })
        })
        $(".not_link").click(function (event) {
            event.preventDefault();
            var a = $(this).attr('id')
            $.post('/search/' + a, $('form').serialize(), function (res) {
                $('#leads').html(res);
            })
        });
    </script>
</body>
</html>